<nav class="row navbar navbar-expand-lg">
      <div class="col nav-item"><a href="#about">about</a></div>
      <div class="col nav-item"><a href="#projects">projects</a></div>
      <div class="col nav-item"><a href="#experience">experience</a></div>
      <div class="col nav-item">resume</div>
</nav>
