<nav class="row navbar navbar-expand-lg">
      <a href="#about"><div class="col nav-item">about</div></a>
      <div class="col nav-item"><a href="#projects">projects</a></div>
      <div class="col nav-item"><a href="#experience">experience</a></div>
      <div class="col nav-item">resume</div>
</nav>
