<div class="bio">
  <div class="row">
    <div class="col-12 text-center name">
      <a href="#about">
        Shayaan Saiyed
      </a>
    </div>
  </div>
  <div class="row icons">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="row">
          <div class="col-4 icon">
            <a href="https://github.com/shayaansaiyed">
              <img src="./icons/GitHub-Mark/github.png" onmouseover="this.src='./icons/GitHub-Mark/githubhover.png'" onmouseout="this.src='./icons/GitHub-Mark/github.png'">
            </a>
          </div>
          <div class="col-4 icon">
            <a href="https://www.linkedin.com/in/shayaansaiyed/">
              <img src="./icons/LinkedIn/linkedin.png" onmouseover="this.src='./icons/LinkedIn/linkedinhover.png'" onmouseout="this.src='./icons/LinkedIn/linkedin.png'">
            </a>
          </div>
          <div class="col-4 icon">
            <a href="https://open.spotify.com/user/ssaiyed?si=bn4CM1euQhuhT7yKFpdxRw">
              <img height="60" src="./icons/Spotify/spotify.png" onmouseover="this.src='./icons/Spotify/spotifyhover.png'" onmouseout="this.src='./icons/Spotify/spotify.png'">
            </a>
          </div>

      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
