<div class="bio">
  <div class="row">
    <div class="col-12 text-center name">
      Shayaan Saiyed
    </div>
  </div>
  <div class="row icons">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="row">
        <div class="col-4">
          <img src="./icons/Github-Mark/PNG/Github-Mark-64px.png">
        </div>
        <div class="col-4">
          <img src="./icons/LinkedIn/Black/In-Black-59px-R.png">
        </div>
        <div class="col-4">
          <img height="60" src="./icons/Spotify/icons/01_RGB/02_PNG/Spotify_Icon_RGB_Black.png">
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
