<div class="row">
  <div class="col-md-4 border rounded h-100">
    <h2 class="text-center">Past Experiences</h2>
    <p></p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2 class="text-center">Projects</h2>
    <p></p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2 class="text-center">Contact Me!</h2>
    <p></p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div>
<div>
