
<div class="row">
  <div class="col-12">
    <h1 class="heading"> Projects </h1>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div class="project" id="checkuppreview" onclick="displaycheckup()">
      <img src="./images/checkUp-logo-large.png">
      <p> Website for storing medical documents and data. </p>
    </div>
  </div>
  <div class="col-4">
    <div class="project" id="spacebabypreview" onclick="displayspacebaby()">
      <div class="proj-name">
        <h1>Space Baby</h1>
        Space Exploration Web App
      </div>
      <div class="proj-description">
        This will be the description of the project.
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="project" id="thiswebsitepreview" onclick="displaythiswebsite()">
      Project 3
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div class="project" id="grammyrunpreview" onclick="displaygrammyrun()">
      Project 4
    </div>
  </div>
  <div class="col-4">
    <div class="project" id="mlspotifypreview" onclick="displaymlspotify()">
      Project 5
    </div>
  </div>
  <div class="col-4">
    <div class="project" id="findfolkspreview" onclick="displayfindfolks()">
      Project 6
    </div>
  </div>
</div>

<div class="proj-overlay" id="spacebaby">
  <div class="proj-panel">
    <div class="row proj-name">
      <div class="col-12">
        <h1 class="title">Space Baby</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 proj-summary">
        Space Baby is an interactive web application that models the movement of the planets with accurate relative velocities that my team and I built at <em>HackHarvard 2016</em>.
        <br><br><em>Technologies:</em> JavaScript, Babylon.js, HTML/CSS
        <br><br><a href="">Link to application</a>
      </div>
      <div class="col-md-6 proj-img">
        <img src="./images/SpaceBabyPreview.png">
      </div>
    </div>
  </div>
</div>

<div class="proj-overlay" id="checkup">
  CHECKUP
</div>

<div class="proj-overlay" id="thiswebsite">THIS WEBSITE</div>
<div class="proj-overlay" id="mlspotify">MLSPOTIFY</div>
<div class="proj-overlay" id="findfolks">FIND FOLKS</div>
<div class="proj-overlay" id="grammyrun">GRAMMY RUN</div>
