<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Website</title>
  {{> head}}
</head>
<body>
  {{> header}}
  <div class="section container-fluid">
    {{> intro }}
  </div>
  <div id="about" class="section container-fluid">{{> about}}</div>
  <div id="projects" class="section container-fluid">{{> projects}}</div>
  <div id="experience" class="section container-fluid">{{> experience}}</div>
  {{> scripts}}
</body>
</html>
